.scroll {
  --scroll-thumb-size: 8px;
  --scroll-thumb-fade-time: 0.5s;
  --scroll-thumb-offset: 2px;

  position: relative;

  &:hover {
    .scroll__thumb-y,
    .scroll__thumb-x {
      background-color: rgb(0 0 0 / 20%);
    }
  }

  &__wrap {
    position: relative;
    overflow: auto;
    height: 100%;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__bar-y {
    position: absolute;
    top: var(--scroll-thumb-offset);
    right: var(--scroll-thumb-offset);
    bottom: var(--scroll-thumb-offset);
    width: var(--scroll-thumb-size);
  }

  &__bar-x {
    position: absolute;
    right: var(--scroll-thumb-offset);
    bottom: var(--scroll-thumb-offset);
    left: var(--scroll-thumb-offset);
    height: var(--scroll-thumb-size);
  }

  &__thumb-x,
  &__thumb-y {
    border-radius: 4px;
    background-color: #00000000;
    transition: background-color var(--scroll-thumb-fade-time);
    cursor: pointer;
  }

  &__thumb-y {
    width: 100%;
    height: 100px;
  }

  &__thumb-x {
    width: 100px;
    height: 100%;
  }

}
